.Burger {
  display: none;
  margin: 5px 0px;
  margin-right: 5vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
.BurgerMenuEnterActive {
  // max-height: 0px;
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
.BurgerMenuExit {
  animation: growUp 200ms ease-in-out forwards;
  transform-origin: top center;

  @keyframes growUp {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  }
}
.BurgerMenuExitActive {
}

.BurgerMenu {
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  background: #232b35;
  z-index: 10;

  .Nav {
    min-height: 150px;
    padding: 0;
    margin-left: 30px;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    li {
      font-weight: 400;
      transition: all 0.2s ease;
      padding-bottom: 5px;
      display: flex;
      flex-flow: column;
      margin-top: 10px;
    }

    li:hover {
      opacity: 0.6;
    }

    a {
      text-decoration: none;
      color: #697ca6;
      display: block;
      font-size: 16px;
    }

    .Active a {
      color: #5e81fe;
    }

    .FuncSubMenuEnterActive {
      animation: growDown 200ms ease-in-out forwards;
      transform-origin: top center;

      @keyframes growDown {
        0% {
          transform: scaleY(0);
        }
        100% {
          transform: scaleY(1);
        }
      }
    }
    .FuncSubMenuExit {
      animation: growUp 200ms ease-in-out forwards;
      transform-origin: top center;

      @keyframes growUp {
        0% {
          transform: scaleY(1);
        }
        100% {
          transform: scaleY(0);
        }
      }
    }
    .FuncSubMenu {
      position: relative;
      overflow: hidden;
      background-color: white;
      list-style: none;
      margin-left: 20px;
      padding: 10px 0px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      box-sizing: border-box;
      border-radius: 12px;
      box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);

      a {
        color: #5e81fe;
        opacity: 1;
        font-size: 14px;
        margin: 7px 10px;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.ButtonsDiv {
  display: flex;
  margin-left: 30px;
  margin-bottom: 30px;
  .Button {
    width: 100px;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    transition: 0.1s;
    border-radius: 6px;
    background-clip: padding-box;
    position: relative;
    box-sizing: border-box;
    color: #3d4f9f;
    text-shadow: 0px 0px 2px #17202a;

    &:focus {
      outline: none;
    }
  }

  .SignIn {
    padding: 0.5rem;
    border: 1px solid #00000046;
    background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:active {
      background: rgba(255, 255, 255, 0.05);
    }
  }
  .SignUp {
    padding: 0.5rem;
    border: 1px solid #00000046;
    background: rgba(255, 255, 255, 0.05);

    &:hover,
    &:active {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .Logout {
    padding: 0.5rem;
    border: 2px solid #d2e1ff;
    background: #d2e1ff;

    &:hover,
    &:active {
      background: #b4cdff;
    }
  }
  .Profile {
    padding: 0.5rem 1rem;
    border: 2px solid #d2e1ff;

    &:hover,
    &:active {
      background: #d2e1ff;
    }
  }
}

@media all and (max-width: 1100px) {
  .Burger {
    display: block;
  }
}
@media all and (min-width: 1100px) {
  .BurgerMenu {
    display: none;
  }
}
