.Main {
  width: 100%;
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #17202A;
}
