*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  font-family: "Montserrat";
  max-width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background: #17202A;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::scrollbar {
  width: 6px;
  height: 6px;
}
*::scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
*::-scrollbar-thumb {
  background-color: #5e81fe;
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #5e81fe;
  border-radius: 10px;
}